[net]
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=2
width=512
height=512
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=relu

########256

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=relu

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=relu
groups=32

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=relu

#########256

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=relu
groups=96

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=0
activation=relu
groups=1

[route]
layers=-1, -4
activation=linear

#############256
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=2
pad=1
activation=relu
groups=96

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=144
size=3
stride=1
pad=1
activation=relu
groups=144

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=144
size=3
stride=1
pad=1
activation=relu
groups=144

[convolutional]
batch_normalize=1
filters=24
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

#############128
[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=144
size=3
stride=2
pad=1
activation=relu
groups=144

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu
groups=192

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu
groups=192

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=relu
groups=192

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

###########64

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=relu
groups=192

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu
groups=384

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu
groups=384

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu
groups=384

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu
groups=384

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

##################32

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=relu
groups=384

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=576
size=3
stride=1
pad=1
activation=relu
groups=576

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=576
size=3
stride=1
pad=1
activation=relu
groups=576

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=576
size=3
stride=1
pad=1
activation=relu
groups=576

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

##########32
[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=576
size=3
stride=2
pad=1
activation=relu
groups=576

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu
groups=960

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu
groups=960

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu
groups=960

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

##########16
[convolutional]
batch_normalize=1
filters=960
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=960
size=3
stride=1
pad=1
activation=relu
groups=960

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=1920
size=1
stride=1
pad=0
activation=relu

[convolutional]
batch_normalize=1
filters=1920
size=3
stride=1
pad=1
activation=relu
groups=1920

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=relu

[route]
layers=-1, -4
activation=linear

############
[convolutional]
batch_normalize=1
filters=2048
size=1
stride=1
pad=0
activation=relu



###############16
[transposed_convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

[transposed_convolutional]
batch_normalize=1
filters=256
size=4
stride=2
pad=1
activation=relu

##############32
[route]
layers=-1, -26
activation=linear


[transposed_convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=relu

[transposed_convolutional]
batch_normalize=1
filters=128
size=4
stride=2
pad=1
activation=relu

##############64
[route]
layers=-1, -63
activation=linear


[transposed_convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=relu

[transposed_convolutional]
batch_normalize=1
filters=64
size=4
stride=2
pad=1
activation=relu


########head1
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=relu

[convolutional]
batch_normalize=1
filters=80
size=1
stride=1
pad=0
activation=relu

#######head2
[route]
layers=-3


[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=relu

[convolutional]
batch_normalize=1
filters=2
size=1
stride=1
pad=0
activation=relu

#######head3
[route]
layers=-3


[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=relu

[convolutional]
batch_normalize=1
filters=2
size=1
stride=1
pad=0
activation=relu


